include icon
include cardAction
include headline
include media

mixin card(inputData, cardConfiguration)
    -
        var data = deepmerge.all([{
            colorTheme: 'standard',
            alignment: 'left',
            orientation: 'vertical',
            actions: true,
            trending : false,
            media: {
                position: 'first',
                aspectRatio: 1.5
            },
            headline: {
                size: 'm',
                position: 'bottom',
                ornament: false,
                style: 'News'
            },
            borders: { bottom: 'light' },
            bullets: false
            }, 
            inputData || {},
            cardConfiguration || {}
        ])
        var now = new Date().getTime();
        var timestamp = '';
        if (now - data.timestamp < 3600000) {
            timestamp = `${Math.round((now - data.timestamp) / 60000)} mins ago`;
        }
        var borderClass = '';
        for (var border in data.borders) {
            borderClass += `l--border-${border}-${data.borders[border]} `
        }
        var isInset = data.media.position === 'behind';
    .card(
        class=`
            card--theme-${data.colorTheme}
            card--${data.size}
            card--${data.orientation}
            card--position-${data.media.position}
            card--${data.actions ? 'has-actions' : 'no-actions'}
            ${borderClass}
            ${data.alignment === 'center' ? 'card--text-center' : 'card--text-left' }
            ${isInset ? 'card--inset' : '' }`
         style=`
                ${isInset ? `
                    background-image:url(${data.media.url});
                    padding-top: calc((1 / ${data.media.aspectRatio}) * 100%)` 
                    : ``
                }`
        data-sbid=data.id
    )
        .card--content
            .card--text(class=`
                ${isInset ? 'card--text-inset' : ''}
                card--text-${data.headline.position}`
            )
                if data.flashline
                    +flashline(data.flashline)
                +headline(data.headline)
                if data.summary
                    .card--summary.t--family-serif.t--size-s.l--margin-bottom-s #{data.summary}
                if data.byline || timestamp
                    .card--byline.t--family-sansCondensed.t--size-s.t--weight-light
                        if data.byline
                            if data.avatar
                                .card--byline-avatar
                                    img(src=data.avatar)
                            .card--byline-attribution by #{data.byline}
                if data.trending
                    .card--trending.t--family-sansCondensed.t--color-green-light.l--margin-top-s.t--size-xs
                        .card--trending-icon
                            +icon('trending')
                        .card--trending-label.l--margin-left-s Trending
                if data.bullets.length > 0
                    ul.card--bullets
                        each item, index in data.bullets
                            +card({
                                actions: false,
                                headline: {
                                    text: item.title,
                                    size: 's',
                                },
                                media: false,
                                bullets: false,
                                byline: false,
                                timestamp: false,
                                summary: false,
                                borders: {
                                    top: index === 0 ? 'light' : false,
                                    bottom: index === (data.bullets.length - 1) ? false : 'light'
                                }
                            })
                if data.media && ['left', 'right', 'middle'].includes(data.media.position)
                    - console.log(data.media)
                    +media(data.media)
                if data.actions
                    .card--footer
                        if timestamp 
                            .card--timestamp.t--family-sansCondensed #{timestamp}
                        +cardAction()
                        +cardAction({icon: 'share'})
                        +cardAction({icon: 'comments', label: data.commentCount})
            if data.media && ['first', 'last', 'behind'].includes(data.media.position)
                +media(data.media)

