include flashLine

mixin headline(data, params)
    .card--headline.t--family-condensed.l--margin-bottom-m(
        class=`
            t--size-${data.size} 
            ${data.size === 's' ? 't--family-serif' : 't--family-condensed'} 
            ${data.style === 'News' || data.size === 's' ? 't--weight-bold' : 't--weight-normal'} 
            ${data.style === 'Opinion' ? 't--style-italic' : ''}
            ${data.ornament === 'ahed' ? 'card--ahed-title l--padding-top-m l--padding-right-l l--padding-left-l l--margin-bottom-m' : ''}
        `) #{data.text}
    if data.ornament === 'ahed'
        .card--ahed-asterisk.l--margin-bottom-m
            +icon('asterisk')
            +icon('asterisk')
            +icon('asterisk')
    if data.ornament === 'leder'
            .card--leder-ornament