include icon

mixin media(mediaObject, params)
    -
        var media = deepmerge.all([
            {
                url: 'http://placehold.it/300/400',
                aspectRatio: 1.5,
                caption: '',
                credit: '',
                iconType: 'none',
                iconPosition: 'center',
                position: 'first'
            }
        , mediaObject, params || ''])
        var parsedURL = media.url.match(/:\/\/(www[0-9]?\.)?(.[^/:]+)/i);
        var hostName = false;
        if (parsedURL != null && parsedURL.length >= 2 && typeof parsedURL[2] === 'string' && parsedURL[2].length > 0) {
            hostName = parsedURL[2];
        }
        var isImageManager = (hostName === 'images.wsj.net');
    .card--media(class=` card--media-position-${media.position}`)
        if (media.iconType !== 'none')
            .card--media-icon(class=`card--media-icon-type-${media.iconType} card--media-icon-position-${media.iconPosition}`)
                +icon(media.iconType)
        img(src=`${media.url}${isImageManager ? `?aspect_ratio=${media.aspectRatio}` : ''}` class=`${media.position === 'behind' ? 'l--visuallyhidden' : ''}`)
        if (media.caption || media.credit)
            .card--media-caption
                if (media.caption)
                    .card--media-caption-text= media.caption
                if (media.credit)
                    .card--media-caption-credit= media.credit